.header { 
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    &__container { 
        display: flex;
        min-height: 104px;
        align-items: center;
    }
    &__logo { 
        font-size: 24px;
        font-weight: 700;
        color: inherit;
    }
}
.hamburger {
    display: none;
}
.menu { 
    margin: 0px 0px 0px 133px;
    &__list {
        display: flex;
        flex-wrap: wrap;
     }
    &__item:not(:last-child) {
        margin: 0px 21px 0px 0px;
     }
    &__link { 
        color: $text-color;
        line-height: calc(24 / 14 * 100%);
        font-weight: 600;
    }
}
.page {
    flex: 1 1 auto;
    &__services {
        position: relative;
        margin: -111px 0px 0px 0px;
    }
}

.main-block {
    position: relative;
    &__wrapper {
        padding: 184px 0px 191px 0px;
        position: relative;
        z-index: 2;
        max-width: 402px;
        & > *:not(:last-child) {
            margin: 0px 0px 35px 0px;
        }  
     }
     &__title {
        font-weight: 800;
        font-size: 58px;
        line-height: calc(80 / 58 * 100%);
        letter-spacing: 0.2px;
    }
    &__text { 
        color: $text-color;
        font-weight: 500;
        font-size: 20px;
        line-height: calc(30 / 20 * 100%);
    }
    &__buttons { 
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0;
    }
    &__button{
        border-radius: 37px;
    }
    .btn_orange{
        &:not(:last-child){
            margin-right: 10px;
        }
     }
    .btn_opacity {
        color: $second-color;
        border: 1px solid $second-color;
        background-color: transparent;
    }
     &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
 }

 .services {
    &__column{
        flex: 0 1 33.3333%;
    }
    &__item{
        height: 100%;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        background: #FFF;
        padding: 35px;
    }
 }
 .item-service {
    & > *:not(:last-child) {
        margin: 0 0 10px 0;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.2px;
        line-height: 133%;
    }
    &__text {
        color: $text-color;
        line-height: 142%;
    }
    &:hover {
        transition: 0.6s all;
        background-color: $second-color;
        color: #fff;
    }
    &:hover .item-service__text{
        transition: 0.6s all;
        color: #fff;
    }
    &:hover .item-service__svg path{
        transition: 0.6s all;
        fill:#fff;
    }
 }

.header-block{
    text-align: center;
    letter-spacing: 0.2px;
    &__title{
        font-size: 40px;
        line-height: 140%;
        font-weight: 700;
        text-transform: capitalize;
        &:not(:last-child){
            margin: 0px 0px 10px 0px;
        }
    }
    &__sub-title{
        color: $text-color;
    }
}
.advantages {
    padding: 80px 0;
    &__header {
        margin: 0px 0px 50px 0px;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
    &__column{
        padding: 0px 15px;
        flex: 0 1 25%;
        margin: 0px 0px 30px 0px;
    }
    &__item{
        background-color: #fff;
        padding: 30px;
        text-align: center;
        font-weight: 700;
        & > *:not(:last-child){
            margin: 0px 0px 10px 0px;
        }
    }
    &__value{
        font-size: 40px;
        line-height: 142%;
    }
    &__text{
        letter-spacing: 0.1px;
        color: $text-color;
        font-size: 16px;
        line-height: 150%;
    }
    &__icon{
        height: 48px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}
.practice {
    padding: 55px 0px 80px 0px;
    &__header{
        margin: 0px 0px 45px 0px;
    }
    &__wrapper{
        margin: 0px -20px -30px;
        display: flex;
        flex-wrap: wrap;
    }
    &__column{
        padding: 0px 20px;
        margin: 0px 0px 30px 0px;
        flex: 0 1 25%;
    }
}
.item-practice {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__content{
        padding: 30px;
        flex: 1 1 auto;
    }
    &__link{
        color: inherit;
        display: inline-block;
        &:not(:last-child){
            margin: 0px 0px 15px 0px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__title{
        letter-spacing: 0.1px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
    }
    &__text{
        color: $text-color;
        line-height: 142%;
    }
    &__image{
        padding: 0px 0px 60% 0px;
    }
}
.whoweare{
    padding: 80px 0px 130px 0px;
    background-color: #fff;
    &__header{
        margin: 0px 0px 100px 0px;
    }
    &__wrapper{
        display: flex;
        align-items: flex-start;
    }
    &__video{
        flex: 0 0 57%;
        position: relative;
        padding: 0px 0px 42.25% 0px;
        iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__content{
        flex: 1 1 auto;
        padding: 20px 0px 0px 121px;
    }
    &__title{
        font-weight: 800;
        font-size: 40px;
        line-height: 142%;
        letter-spacing: 0.2px;
        &:not(:last-child){
            margin: 0px 0px 10px 0px; 
        }
    }
    &__text {
        color: $text-color;
        line-height: 142%;
    }
    &__items{
        padding: 50px 0px 0px 0px; 
    }
    &__item{
        &:not(:last-child){
            margin: 0px 0px 30px 0px; 
        }
    }
}
.item-whoweare{
    display: flex;
    &__wrapper{
        flex: 1 1 auto;
        padding: 0px 0px 0px 20px;
    }
    &__icon{
        flex: 0 0 32px;
    }
    &__title{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        &:not(:last-child){
            margin: 0px 0px 5px 0px;
        }
    }
    &__text{
        color: $text-color;
        line-height: 142%;
        white-space: nowrap;
        width: 225px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.clients {
    padding: 50px 0px;
    margin: 0px 0px 10px 0px;
    &__items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__item{
        flex: 0 1 16.6667%;
        text-align: center;
        padding: 8px 15px;
        min-width: 140px;
        img{
            max-width: 100%;
        }
    }
}
.subscribe{
    position: relative;
    padding: 0px 0px 20px 0px;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 77px;
        left: 0;
        background: $third-color;
    }
    &__wrapper{
        position: relative;
        z-index: 1;
        padding: 30px 50px;
        align-items: center;
        border-radius: 2px;
        background: $bg-color;
    }
    &__title{
        flex: 0 1 50%;
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
        color:#fff;
    }
    &__form{
        flex: 0 1 50%;
        display: flex;
        align-items: center;
    }
    &__input{
        width: 100%;
        flex: 1 1 auto;
        min-height: 58px;
        padding: 0px 20px;
        background: #F9F9F9;
        border: 1px solid #E6E6E6;
        border-radius: 5px 0 0 5px;
        border-right: 0;
        color: $text-color;
        &:focus{
            color:#000;
        }
    }
    .btn_subscribe{
        border: 1px solid #E6E6E6;
        border-radius: 0px 5px 5px 0px;
        min-height: 58px;
        padding: 0px 22px;
    }
  
}
.getintouch{
    padding: 80px 0px 148px 0px;
    &__header{
        margin: 0px 0px 80px 0px;
    }
    &__items{
        margin: 0px -15px;
    }
    &_item{
        flex: 0 1 33.333%;
    }
}
.item-getintouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
    & > *:not(:last-child){
        margin: 0px 0px 15px 0px;
    }
    &:hover{
        background-color: $third-color;
        color: #fff;
        transform: scale(1.1);
        transition: 0.6s all;
    }
    &:hover .btn_getintouch{
        border: 1px solid #fff;
        color: #fff;
        background-color: $main-color;
        transition: 0.6s all;
    }
    &:hover .item-getintouch__icon-svg path {
        fill: #fff;
        transition: 0.6s all;
    }
    &__emails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    &__email{
        color: inherit;
        font-weight: 600;
        line-height: 150%;
        font-style: 16px;
        &:hover{
            text-decoration: underline;
        }
    }
    &__label{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    .btn_getintouch{
        background-color: transparent;
        color: $main-color;
        border: 1px solid $main-color;
        border-radius: 5px;
        min-height: 44px;
        line-height: 142%;
        padding: 5px 20px;
        font-weight: 600;
    }
}

.contact {
    background-color: #fff;
    padding: 42px 0px;
    &__content{
        padding: 0px 0px 20px 0px;
    }
    &__title{
        font-weight: 700;
        letter-spacing: 0.1px;
        font-size: 24px;
        line-height: 133%;
        &:not(:last-child){
            margin: 0px 0px 10px 0px;
        }
    }
    &__text{
        color: $text-color;
        line-height: 142%;
    }
    .btn_contact{
        min-height: 58px;
        border-radius: 5px;
        &:hover{
            color: $second-color;
            border: 1px solid $second-color;
            background-color: transparent;
            transition: 0.6s all;
            
        }
    }
}


@media(min-width: 1070px){
    .subscribe{
        &__wrapper{
            margin: 0px 30px;
        }
    }
}
@media(min-width: 992px){
    .getintouch{
        &__items{
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
@media(min-width: 767px){
    .contact{
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__content{
            padding: 0px 20px 0px 0px;
        }
    }
        
}
@media(min-width: 810px){
    .subscribe{
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
        &__title{
         max-width: 266px;   
        }
    }
}
@media (min-width: 670px){
    .services{
        &__wrapper{
            display: flex;
            flex-wrap: wrap;
            margin: 0px -15px;
        }
        &__column{
            padding: 0px 15px;
        }
    }
}


@media (max-width: 1300px){
    .main-block__image img{
       object-position: right;
    }
}
@media (max-width: 1035px) {
    .advantages{
        &__column{
            flex: 0 1 50%;
        }
    }
    .practice {
        &__column{
            flex: 0 1 50%;
        }
    }
}
@media (max-width: 1080px) {
    .whoweare{
        &__content{
            padding: 0px 0px 0px 50px;
        }
    }
}
@media(max-width: 810px){
    .subscribe{
        &__title{
            margin: 0px 0px 20px 0px;
        }
        &__wrapper{
            margin: 0px -15px;
            padding: 20px 15px;
        }
        &__button{
            padding: 0px 15px;
        }
        &__input{
            padding: 0px 15px;
        }
    }
}
@media (max-width: 950px){
    .whoweare{
        &__wrapper{
            padding: 0px 0px 0px 0px;
            flex-direction: column;
            align-items: stretch;
        }
        &__header{
            margin: 0px 0px 0px 0px;
        }
        &__title{
            font-size: 24px;
        }
        &__content{
            padding: 30px 0px 0px 0px;
        }
        &__video{
            padding: 0px 0px 56.25% 0px;
            &:not(:last-child){
                margin: 50px 0px 0px 0px;
            }
        }

    }
}
@media (max-width: 992px){
    .menu__link{
    color: #201f1f;
}
    .header__menu { 
    margin: 0px 0px 0px 80px;
}
    .main-block{
        &__text {
            color: #201f1f;
    }
        &__image {
            opacity: 0.5;
        }
        &__wrapper{
            padding: 120px 0px 191px 0px; 
    }
    }
    .services {
        &__column {
            flex: 0 1 50%;
            &:not(:last-child){
                margin: 0px 0px 30px 0px;
            }
            &:last-child{
                flex: 1 1 100%;
            }
        }
    }
    .header-block{
        &__title{
            font-size: 35px;
        }
    }
    .advantages{
        padding: 50px 0px;
    }
    .practice{
        padding: 40px 0px 80px 0px; 
    }
    .getintouch{
        padding: 50px 0px;
        &__header{
            margin: 0px 0px 50px 0px;
        }
    }
}
@media (max-width: 767px){
    .header {
        &__menu { 
            margin: 0px 0px 0px 40px;
        }
    }
    .menu {
        &__list {
            position: fixed;
            flex-direction: column;
            align-items: center;
            top: 5%;
            right: -100%;
            width: 40%;
            padding: 20px 15px;
            background-color: rgba($main-color, 0.9);
            border-radius: 49%;
            transition: 0.6s all;
        }
        &__active{
            right: 5%;
        }
        &__item {
            padding-right: 0;
            border: 0;
            font-size: 20px;
            &:not(:last-child) {
                margin: 0;
            }
        }
        &__link {
            color: #fff;   
        }
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #000;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &__active {
            span {
                margin-bottom: -2px;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .header-block{
        &__title{
            font-size: 30px;
        }
    }
    .advantages{
        padding: 40px 0px;
        &__header{
            margin: 0px 0px 35px 0px; 
        } 
    }
    .practice{
        padding: 0px 0px 40px 0px; 
        &__header{
            margin: 0px 0px 25px 0px;
        }
    }
    .whoweare{
        padding: 20px 0px 50px 0px;
        &__video{
            &:not(:last-child){
                margin: 30px 0px 0px 0px;
            }
        }
        &__items{
            padding: 30px 0px 0px 0px;
        }
    }
    .clients{
        padding: 50px 0;
    }
    .getintouch{
        &__header{
            margin: 0px 0px 30px 0px;
        }
    }
}
@media (max-width: 630px){
.practice{
    &__column{
        flex: 0 1 100%;
    }
}
}
@media (max-width: 560px){
    .advantages{
        &__column{
            flex: 0 1 100%;
        }
    }
}
@media (max-width: 479px){
    .menu__link { 
        font-size: 18px;
}
    .header__container { 
        min-height: 70px;
}
    .main-block{
    &__title {
        font-size: 42px;
}
    &__button {
        flex: 1 1 100%;
    }
    &__wrapper{
        padding: 120px 0px 170px 0px;
    }
    .services{
        &__item {
            padding: 25px;
        }
    }
}
}